<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JobNow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 
  {{!--<div class="main-container">
 <ul class="nav nav-tabs">
   <li class="nav-item">
    <a class="nav-link active" href="/">JobNow</a>
   </li>
   {{#unless user}}
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signup">Signup</a>
  </li>
{{/unless}}
{{#if user}}
  {{#if user.isadmin}}
  <li class="nav-item">
    <a class="nav-link" href="/dpt">Catálogo Puestos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/centers/location">Centros de Trabajo</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mi usuario</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/users/edit/{{user._id}}">Editar usuario</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/users/delete/{{user._id}}" onclick="return confirm('Delete this user?')">Eliminar usuario</a>
    </div>
  </li>
  {{/if}}
  {{#else}}
  <li class="nav-item">
    <a class="nav-link" href="/users/profile/{{user._id}}">Mi ficha</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/dpt">Mi puesto</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mi usuario</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/logout">Log Out</a>
      <a class="dropdown-item" href="/users/edit/{{user._id}}">Editar usuario</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/users/delete/{{user._id}}" onclick="return confirm('Eliminar este usuario?')">Eliminar usuario</a>
    </div>
  </li>
{{/else}}
{{/if}}
</ul>--}}
{{#if user}}
<div class="container navguay">
    <div class="row">
        <div class="left">
        <ul>
            <a href="/">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-home"></span> 
                    <span class="menu">Inicio</span>
                </li>
            </a> 
            {{#if user.isadmin}}
            <a href="/users/data">
                <li class="item-menu">
                    <span><i class="fas fa-columns"></i></i></span> 
                    <span class="menu">Dashboard</span>
                </li>
            </a>
            <a href="/dpt">
                <li class="item-menu">
                    <span><i class="fas fa-book"></i></span> 
                    <span class="menu">Catálogo puestos</span>
                </li>
            </a>
            <a href="/centers/location">
                <li class="item-menu">
                    <span><i class="far fa-bookmark"></i></span> 
                    <span class="menu">Centros de trabajo</span>
                </li>
            </a>
            {{else}}
            <a href="/users/profile/{{user._id}}">
                <li class="item-menu">
                    <span><i class="far fa-bookmark"></i></span> 
                    <span class="menu">Mi ficha</span>
                </li>
            </a>
            <a href="/users/dpt">
                <li class="item-menu">
                    <span><i class="fas fa-book"></i></span> 
                    <span class="menu">Mi puesto</span>
                </li>
            </a>   
            {{/if}} 
            <a href="/users/edit/{{user._id}}">
                <li class="item-menu">
                    <span><i class="fas fa-pencil-alt"></i></span> 
                    <span class="menu">Editar usuario</span>
                </li>
            </a> 
            <a href="/users/delete/{{user._id}}" onclick="return confirm('Eliminar este usuario?')">
                <li class="item-menu">
                    <span class="glyphicon"><i class="far fa-trash-alt"></i></span> 
                    <span class="menu">Eliminar usuario</span>
                </li>
            </a>
            {{!El log out no va aquí}}
            <a href="/logout">
                <li class="item-menu">  
                    <span class="glyphicon glyphicon-credit-card"></span> 
                    <span class="menu">Log out</span>
                </li>
            </a> 
        </ul>
    </div> <!-- end left -->
    <div class="right">
        content
    </div>
    </div>
    </div>
</div>                      
{{/if}}
<div class="mainbody">{{{body}}}</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
  crossorigin="anonymous"></script>
</body>
</html>