
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
  crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">



<div class="container">
  <div class="row">
    <div class="col">
    <canvas id="myChart" height="300px"></canvas>
    </div>
    <div class="col">
    <div id="map" style="height:500px"></div>
    </div>
  </div>
  </div>




    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      console.log({{{obj}}})
      const keys = Object.keys({{{obj}}});
      const values = Object.values({{{obj}}})
      var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: keys,
          datasets: [{
            label: "Colaboradores - Centro Trabajo",
            backgroundColor: 'rgb(102, 178, 255)',
            borderColor: 'rgb(255, 99, 132)',
            data: values,
          }]
        },

        options: {}
      });
    </script>

    <script>
      
  window.centers = {{{ centers }}}.map(e => e.workCenter)
</script>
<script src="/javascripts/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClr_fVK41OBJxuab_HEI3I30pcijqHB7E"></script>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Area</th>
      <th scope="col">Position</th>
      <th scope="col">Centro</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each datacenters}}
    <tr>
      <td>
        <img src="{{profilePic.path}}" alt="Profile picture" width="25px">
      </td>
      <td>{{datacenters.name}}</td>
      <td>{{surname}}</td>
      <td>{{dpto}}</td>
      <td>{{dpt.Denom}}</td>
      <td>{{workCenter.name}}</td>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>