
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Editing an existing movie...?</h2>
    <p class="lead">Of course, you can edit an existing movie as many time as you need!</p>
  </div>
</div>
<form action="/centers/edit/{{center.id}}" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="name" value={{center.name}}>
    </div>
    <div class="form-group  col-md-6">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="{{center.description}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputUsername">Coordinates</label>
    <input type="text" class="form-control" id="inputUserame" name="lat" value="{{center.coordinates.[0]}}">
    <input type="text" class="form-control" id="inputUserame" name="lng" value="{{center.coordinates.[1]}}">
  </div>
  <button type="submit" class="btn btn-success">Update center!</button>
</form>
<a href="/centers" class="btn btn-warning">Back to Centers list</a>