<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<img src="/images/header3.jpg" class="img-fluid" alt="Responsive image">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Colaboradores:</h2>
    <p class="lead">Conoce un poco mejor a los integrantes de nuestra familia</p>
  </div>
</div>

<a href="/movies/new" class="btn btn-warning">"Wanna" add one more movie?</a>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Area</th>
      <th scope="col">Position</th>
      <th scope="col">Centro</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td><img src="{{profilePic.path}}" alt="Profile picture" width="25px"></td>
      <td>{{name}}</td>
      <td>{{surname}}</td>
      <td>{{dpto}}</td>
      <td>{{dpt.Denom}}</td>
      <td>{{workCenter.name}}</td>
      <td><input type="checkbox" ></td>
      <td><a href="/users/profile/{{_id}}" span class="badge badge-primary badge-pill">Ver ficha</a></td>
    </tr>
    {{/each}}
 
  </tbody>
</table>