<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
  crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Editar DPT</h2>
    <p class="lead">Realizar modificaciones a la DPT de {{dpt.Denom}}:</p>
  </div>
</div>


<form action="/dpt/edit/{{dpt.id}}" method="post">

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>Ficha</h3>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Denominación del Puesto</label>
                <input type="text" class="form-control" id="inputName" name="Denom" value="{{dpt.Denom}}">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Area</label>
                <label for="exampleFormControlSelect1">Area</label>
                <select class="form-control" id="exampleFormControlSelect1" name="Area" value="{{dpt.Area}}">
                  <option>RRHH</option>
                  <option>Hacienda</option>
                  <option>Sanidad</option>
                  <option>Economía y Empleo</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <select class="form-control" id="exampleFormControlSelect1" name="Colectivo" value="{{dpt.Colectivo}}">
                  <option>Laboral</option>
                  <option>Personal Funcionario</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              <h3>Misión</h3>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Misión</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="Mision" rows="2">{{dpt.Mision}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            <h3>Funciones:</h3>
            <p></p>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Funciones</label>
            <textarea class="form-control" id="Funciones" rows="3">{{dpt.Funciones}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          <h3>Tareas</h3>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <form class="card-body">
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <label for="inputName">Tipo</label>
                <input type="text" class="form-control" id="inputName" name="TareasTipo1" value="{{tareasTipo1}}">
              </div>
              <div class="col-sm">
                <label for="inputPassword4">Dedicación</label>
                <input type="text" class="form-control" id="inputOccupation" name="TareasDedicacion1">
              </div>
              <div class="col-sm">
                <label for="inputName">Resultado</label>
                <input type="text" class="form-control" id="inputName" name="TareasResultado1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="inputName">Tipo</label>
                <input type="text" class="form-control" id="inputName" name="TareasTipo2">
              </div>
              <div class="col-sm">
                <label for="inputPassword4">Dedicación</label>
                <input type="text" class="form-control" id="inputOccupation" name="TareasDedicacion2">
              </div>
              <div class="col-sm">
                <label for="inputName">Resultado</label>
                <input type="text" class="form-control" id="inputName" name="TareasResultado2">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="inputName">Tipo</label>
                <input type="text" class="form-control" id="inputName" name="TareasTipo3">
              </div>
              <div class="col-sm">
                <label for="inputPassword4">Dedicación</label>
                <input type="text" class="form-control" id="inputOccupation" name="TareasDedicacion3">
              </div>
              <div class="col-sm">
                <label for="inputName">Resultado</label>
                <input type="text" class="form-control" id="inputName" name="TareasResultado3">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="inputName">Tipo</label>
                <input type="text" class="form-control" id="inputName" name="TareasTipo4">
              </div>
              <div class="col-sm">
                <label for="inputPassword4">Dedicación</label>
                <input type="text" class="form-control" id="inputOccupation" name="TareasDedicacion4">
              </div>
              <div class="col-sm">
                <label for="inputName">Resultado</label>
                <input type="text" class="form-control" id="inputName" name="TareasResultado4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="inputName">Tipo</label>
                <input type="text" class="form-control" id="inputName" name="TareasTipo5">
              </div>
              <div class="col-sm">
                <label for="inputPassword4">Dedicación</label>
                <input type="text" class="form-control" id="inputOccupation" name="TareasDedicacion5">
              </div>
              <div class="col-sm">
                <label for="inputName">Resultado</label>
                <input type="text" class="form-control" id="inputName" name="TareasResultado5">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          <h3>Formación:</h3>
          <p></p>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">

          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputName">Título</label>
              <input type="text" class="form-control" id="inputName" name="FormacionTitulo">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Idiomas</label>
              <input type="text" class="form-control" id="inputOccupation" name="Idiomas">
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputPassword4">Experiencia</label>
              <select class="form-control" id="exampleFormControlSelect1" name="FormacionExperiencia">
                <option>Menos 1 año</option>
                <option>3-5 años</option>
                <option>Mas 5 años</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Formación - Habilidades</label>
              <input type="text" class="form-control" id="inputOccupation" name="FormacionHabilidades">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
          aria-controls="collapseSix">
          <h3>Responsabilidad y Autonomía:</h3>
          <p></p>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">

          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputPassword4">Nivel de Responsabilidad</label>
              <select class="form-control" id="exampleFormControlSelect1" name="ResponsabilidadNivel">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">¿Colaboradores?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="Colaboradores">
                <option>Sí</option>
                <option>No</option>
              </select>
            </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nivel de Supervisión</label>
                <select class="form-control" id="exampleFormControlSelect1" name="SupervisionNivel">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
              aria-controls="collapseSeven">
              <h3>Condiciones:</h3>
              <p></p>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">

              <div class="form-row">

                <div class="form-group col-md-6">

                  <label for="inputPassword4">¿Turnicidad?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="CondicionesTurnicidad">
                <option>Sí</option>
                <option>No</option>
              </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">¿Colaboradores?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="CondicionesColaboradores">
                <option>Sí</option>
                <option>No</option>
              </select>
                </div>
              </div>

              <div class="form-row">

                <div class="form-group col-md-6">

                    <label for="inputPassword4">¿Nocturnidad?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="CondicionesNocturnidad">
                <option>Sí</option>
                <option>No</option>
              </select>
                </div>
                <div class="form-group col-md-6">
                                      <label for="inputPassword4">¿Peligro?</label>

                  <select class="form-control" id="exampleFormControlSelect1" name="CondicionesPeligro">
                <option>Sí</option>
                <option>No</option>
              </select>
                </div>
              </div>

            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Crear DPT</button>
      </form>


//-----------------------------------------------------//



<form action="/dpt/edit/{{dpt.id}}" method="post">

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>Ficha</h3>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Denominación del Puesto</label>
                <input type="text" class="form-control" id="inputName" name="Denom" value="{{dpt.Denom}}">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Area</label>
                <input type="text" class="form-control" id="inputOccupation" name="Area" value={{dpt.Area}}>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Colectivo</label>
                <input type="text" class="form-control" id="inputName" name="Colectivo" value="{{dpt.Colectivo}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              <h3>Misión</h3>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Misión</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="Mision" rows="2">{{dpt.Mision}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            <h3>Funciones:</h3>
            <p></p>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Funciones</label>
            <textarea class="form-control" id="Funciones" rows="3">{{dpt.Funciones}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          <h3>Tareas</h3>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          {{#each dpt.Tareas}}
          <div class="form-group col-md-6">
            <label for="inputName">Tareas - Tipo</label>
            <input type="text" class="form-control" id="inputName" name="Tareas.tipo" value="{{tipo}}">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Tareas - Dedicación</label>
            <input type="text" class="form-control" id="inputOccupation" name="Tareas.resultado" value={{dedicacion}}>
          </div>
        </div>
        <div class="form-group"></div>
        <label for="inputName">Tareas - Resultado</label>
        <input type="text" class="form-control" id="inputName" name="Tareas.tipo" value="{{resultado}}">
      </div>
    </div>
    {{/each}}
  </div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          <h3>Formación:</h3>
          <p></p>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          {{#each dpt.Formacion}}
          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputName">Formación - Título</label>
              <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{titulo}}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Formación - Idiomas</label>
              <input type="text" class="form-control" id="inputOccupation" name="Formacion.idiomas" value={{idiomas}}>
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputName">Formación - Experiencia</label>
              <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{experiencia}}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Formación - Habilidades</label>
              <input type="text" class="form-control" id="inputOccupation" name="Formacion.idiomas" value={{habilidades}}>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
          aria-controls="collapseSix">
          <h3>Responsabilidad y Autonomía:</h3>
          <p></p>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          {{#each dpt.ResAut}}
          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputName">Nivel Responsabilidad</label>
              <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{NivRes}}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">¿Colaboradores?</label>
              <input type="text" class="form-control" id="inputOccupation" name="Formacion.idiomas" value={{Colaboradores}}>
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="inputName">Nivel Supervisión</label>
              <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{NivSuperv}}">
            </div>
          
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
            aria-controls="collapseSeven">
            <h3>Condiciones:</h3>
            <p></p>
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            {{#each dpt.Condiciones}}
      <div class="form-row">

        <div class="form-group col-md-6">

          <label for="inputName">Condiciones - ¿Turnicidad?</label>
          <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{turnicidad}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Condiciones - ¿Colaboradores?</label>
          <input type="text" class="form-control" id="inputOccupation" name="Formacion.idiomas" value={{Colaboradores}}>
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">

          <label for="inputName">Condiciones - ¿Nocturnidad?</label>
          <input type="text" class="form-control" id="inputName" name="Formacion.titulo" value="{{nocturnidad}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Condiciones - ¿Peligro?</label>
          <input type="text" class="form-control" id="inputOccupation" name="Formacion.idiomas" value={{peligro}}>
        </div>
      </div>
      {{/each}}
            </div>
          </div>
        </div>




        --}}