<script>
  window.center = {{{ centro }}}
//window.centers ;
</script>
<script src="/javascripts/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClr_fVK41OBJxuab_HEI3I30pcijqHB7E"></script>



<img src="/images/header3.jpg" class="img-fluid" alt="Responsive image">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Ficha de colaborador: </h2>
    <p class="lead">Conociendo un poco mas a {{user.name}} y sus compañeros...</p>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">

        <li class="list-group-item">
          
          
                <img src="../../{{user.profilePic.path}}" alt="Profile picture" width="50px"></li>

        </li>
        <li class="list-group-item">
          <h4>Nombre:</h4>
          <p>{{user.name}}</p>
          <h4>Apellidos:</h4>
          <p>{{user.surname}}</p>
        </li>
        <li class="list-group-item">
          <h4>eMail:</h4>
          <p>{{user.email}}</p>
        </li>
        <li class="list-group-item">
          <h4>Dpto:</h4>
          <p>{{user.dpto}}</p>
        </li>
        <li class="list-group-item">
          <h4>Posición:</h4>
          <p>{{user.dpt.Denom}}</p>
        </li>

      </ul>
    </div>
    <div class="col">
      <div id="map" style="height:500px"></div>
    </div>
  </div>

<div class="centrar">
<h2> Compañeros de {{user.name}}</h2>
<div class="container">
    <div class="row">
      {{#each centerusers}}
      <div class="col"></div>
      <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="../../{{profilePic.path}}" alt="Profile">
        <div class="card-body">
          <h5 class="card-title">{{name}} {{surname}}</h5>
          <p class="card-text">{{dpto}}
            <p>{{dpt.Denom}}</p>
          <a href="/users/profile/{{_id}}" class="btn btn-primary">Ver Ficha</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>







