<img src="/images/header3.jpg" class="img-fluid" alt="Responsive image">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
<div class="mainbody">



    <h2 class="display-4">{{dpt.Denom}}</h2>
    <p class="lead">Conocer más en detalle esta posición.
  </div>
</div>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3>Ficha</h3>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4>Denominación del Puesto:</h4>
              <p>{{dpt.Denom}}</p>
              <h4>Area:</h4>
              <p>{{dpt.Area}}</p>
            </div>
            <div class="col">
              <h4>Colectivo:</h4>
              <p>{{dpt.Colectivo}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            <h3>Misión</h3>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <h4>El principal propósito de este puesto en la organización es:</h4>
              <p>{{dpt.Mision}}</p>
            </div>
          </div>
        </div>
      </div>
       </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              <h3>Funciones:</h3>
              <p></p>

            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{dpt.Funciones}}
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
            aria-controls="collapseFour">
            <h3>Tareas</h3>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                {{#each dpt.Tareas}}
                <h4>Tipo:</h4>
                <p>{{tipo}}</p>
                <h4>Resultado:</h4>
                <p>{{resultado}}</p>
              </div>
              <div class="row">
                <div class="col">
                  <h4>Dedicación:</h4>
                  <p>{{dedicacion}}</p>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          <h3>Formación:</h3>
          <p></p>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              {{#each dpt.Formacion}}
              <h4>Titulación:</h4>
              <p>{{titulo}}</p>
              <h4>Idiomas:</h4>
              <p>{{idiomas}}</p>
            </div>
            <div class="row">
              <div class="col">
                <h4>Experiencia:</h4>
                <p>{{experiencia}}</p>
                <h4>Habilidades:</h4>
                <p>{{habilidades}}</p>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
            aria-controls="collapseSix">
            <h3>Responsabilidad y Autonomía:</h3>
            <p></p>
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                {{#each dpt.ResAut}}
                <h4>Nivel de Responsabilidad:</h4>
                <p>{{NivRes}}</p>
                <h4>Colaboradores:</h4>
                <p>{{Colaboradores}}</p>
              </div>
              <div class="row">
                <div class="col">
                  <h4>Nivel de Supervisión:</h4>
                  <p>{{NivSuperv}}</p>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
              aria-controls="collapseSeven">
              <h3>Condiciones:</h3>
              <p></p>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  {{#each dpt.Condiciones}}
                  <h4>Turnicidad:</h4>
                  <p>{{turnicidad}}</p>
                  <h4>Colaboradores:</h4>
                  <p>{{Colaboradores}}</p>
                </div>
                <div class="row">
                  <div class="col">
                    <h4>Nocturnidad:</h4>
                    <p>{{nocturnidad}}</p>
                    <h4>Peligro:</h4>
                    <p>{{peligro}}</p>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                aria-controls="collapseSix">
                <h3>Responsabilidad y Autonomía:</h3>
                <p></p>
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{#each dpt.ResAut}}
                    <h4>Nivel de Responsabilidad:</h4>
                    <p>{{NivRes}}</p>
                    <h4>Colaboradores:</h4>
                    <p>{{Colaboradores}}</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h4>Nivel de Supervisión:</h4>
                      <p>{{NivSuperv}}</p>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                aria-controls="collapseSeven">
                <h3>Condiciones:</h3>
                <p></p>
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{#each dpt.Condiciones}}
                    <h4>Turnicidad:</h4>
                    <p>{{turnicidad}}</p>
                    <h4>Colaboradores:</h4>
                    <p>{{Colaboradores}}</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h4>Nocturnidad:</h4>
                      <p>{{nocturnidad}}</p>
                      <h4>Peligro:</h4>
                      <p>{{peligro}}</p>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
</div>
  <a href="/dpt/edit/{{dpt.id}}" class="btn btn-info">Editar esta DPT</a>
<a href="/dpt/delete/{{dpt.id}}" span class="btn btn-danger">Eliminar esta DPT</a>

</div>
          
